<h1>Welcome, <%= current_user.username %></h1>
<h4>Let's take a look at what you've got in your kitchen:</h4>

  <p><a href="/users/<%= current_user.username %>/fruits">Fruits</a></p>
  <p><a href="/users/<%= current_user.username %>/vegetables">Vegetables</a></p>
  <p><a href="/users/<%= current_user.username %>/meat">Meat</a></p>
  <p><a href="/users/<%= current_user.username %>/beverages">Beverages</a></p>
  <p><a href="/users/<%= current_user.username %>/pantry_items">Pantry Items</a></p>
