<div class="userHome">

<h1><strong>Here's what you've got in your kitchen, <%= current_user.username %></strong></h3>

<select class="showPageSelect" name="menu1" id="menu1">
  <option>Your Inventory</option>
<% current_user.categories.each do |category| %>
  <% if !category.foods.empty? %>
  <option value="/users/<%=current_user.slug%>/<%=category.slug %>"><%=category.name%>: <%= category.foods.count %> item(s)</option>
  <% end %>
<%end%>
  </select>


<% if !current_user.categories.empty? %>

 <% current_user.categories.each do |category| %>

    <% if !category.almost_expired_foods.empty? %>

      <ul class="warning">
        <% category.almost_expired_foods.each do |food| %>
        <li>
          <%= food.name %> will expire in  <%= food.days_until_expiration %>
          <a href="https://www.freshdirect.com/srch.jsp?pageType=search&searchParams=<%=food.name.downcase%>" target="_blank">Order more?</a>
        </li>
        <% end %>
      </ul>

      <% end %>
   <% end %>


<% else %>

<h4>Your kitchen is currently empty.  Time to do some shopping!<h4>

<% end %>

<h4>Add a <a href="/users/<%= current_user.username %>/foods/new">new item</a></h4>

</div>
