<div class="userHome">

<p style="float:right;font-size:10px;margin:2px 2px 0 0;">Currently logged in as: <%= current_user.username %></p>
<h1 style="margin-top:0px;"><strong>Here's what you've got in your kitchen:</strong></h3>

<% if !current_user.categories.empty? %>

 <% current_user.categories.each do |category| %>

  <% if !category.foods.empty? %>

    <p><a href="/users/<%=current_user.slug%>/<%=category.slug %>"><%=category.name%></a>: <%= category.foods.count %> item(s)</p>

    <% if !category.almost_expired_foods.empty? %>

      <ul class="warning">
        <% category.almost_expired_foods.each do |food| %>
        <li>
          <%= food.name %> will expire in  <%= food.days_until_expiration %>
          <a href="https://www.freshdirect.com/srch.jsp?pageType=search&searchParams=<%=food.name.downcase%>" target="_blank">Order more?</a>
        </li>
        <% end %>
      </ul>

      <% end %>
   <% end %>
  <% end %>

<% else %>

<h4>Your kitchen is currently empty.  Time to do some shopping!<h4>

<% end %>

<h4>Add a <a href="/users/<%= current_user.username %>/foods/new">new item</a> to your inventory.</h4>

</div>
