<style>

  body {
    background-image: url("/photos/apricot_wallpaper.jpg");
    background-size: cover;
  }

</style>

<div class="editFood">

<h1>Update details for <%= @food.name %></h1>

<form action="/users/<%= params[:user_slug] %>/<%= params[:category] %>/<%= params[:food] %>" method="post">

  <label>Name: </label><input class="inputForm" type="text" name="update[name]" value="<%= @food.name %>">

  <p></p>

  <label>Quantity: </label><input class="inputForm" type="text" name="update[quantity]" value="<%= @food.quantity %>">

  <p></p>

  <label>Expiration Date: </label><input class="inputForm" type="text" name="update[expiration_date]" value="<%= @food.expiration_date %>">

  <p></p>

  <label>Select a Category: </label>

    <% if !current_user.categories.empty? %>
    <select class="createEditSelect" name="category[id]">
      <option value=""></option>
    <% current_user.categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
    <% end %>

  <p></p>

  <label>Add a New Category: </label><input class="inputForm" type="text" name="new[category]">

  <p></p>

  <input type="submit" name="Submit">

</form>

</div>
