<h1>Update details for <%= @food.name %></h1>

<form action="/users/<%= params[:user_slug] %>/<%= params[:category] %>/<%= params[:food] %>" method="post">

  <label>Quantity: </label><input type="text" name="update[quantity]" value="<%= @food.quantity %>">

  <p></p>

  <label>Expiration Date: </label><input type="text" name="update[expiration_date]" value="<%= @food.expiration_date %>">

  <p></p>

  <input type="submit" name="Submit">

</form>