<h1><%= @food.name.downcase.capitalize %> </h1>
  <ul>
    <li>Quantity: <%= @food.quantity %></li>
    <li>Expiration Date: <%= @food.expiration_date %></li>
  </ul>

<p><a href="/users/<%= params[:user_slug] %>/<%= params[:category] %>/<%= params[:food] %>/edit">Edit</a></p>

<form method="post" action="/users/<%= params[:user_slug] %>/<%= params[:category] %>/<%= params[:food] %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
