<h1><%= Category.find_by_slug(params[:category]).name %></h1>

<% if !@foods.empty? %>
  <% @foods.each do |food| %>
      <p><a href="/users/<%= params[:user_slug] %>/<%= Category.find_by_slug(params[:category]).slug %>/<%= food.food_slug %>"><%= food.name %>:</a></p>
        <ul>
          <li>Quantity: <%= food.quantity %></li>
          <li>Expiration Date: <%= food.expiration_date %></li>
        </ul>

  <% end %>

<% else %>

    <p>You are currently out of <%= params[:category].gsub("_", " ") %>.</p>

  <% end %>

<p><a href="/users/show">Home</a></p>
