<style>
  body {
    background-color: rgb(0, 92, 145);
  }
</style>
<h1><%= Category.find_by_slug(params[:category]).name %></h1>
<% if !@foods.empty? %>

  <% @foods.each do |food| %>

      <hr style="1px dotted black">
      <h3><%= food.name %>:</h3>

        <ul>
          <li>Quantity: <%= food.quantity %></li>
          <li>Expiration Date: <%= food.expiration_date %></li>
        </ul>

      <p><a href="/users/<%= current_user.slug %>/<%= params[:category] %>/<%= food.slug %>/edit">Edit <%= food.name %></a>
      <a href="/users/<%= current_user.slug %>/<%= params[:category] %>/<%= food.slug %>/delete">Delete <%= food.name %></a></p>

      <% if food == @foods.last %>
        <hr style="1px dotted black">
      <% end %>

  <% end %>

<% else %>

    <p>You are currently out of <%= params[:category].gsub("-", " ") %>.</p>

  <% end %>
