<% if @foods.find_by(category: params[:category]) %>
  <% category_foods = [] %>
  <% @foods.each {|food| category_foods << food if food.category == params[:category]} %>
    <% category_foods.each do |food| %>
      <p><a href="/users/<%= params[:user_slug] %>/<%= food.category %>/<%= food.name %>"><%= food.name %>:</a></p>
        <ul>
          <li>Quantity: <%= food.quantity %></li>
          <li>Expiration Date: <%= food.expiration_date %></li>
        </ul>

  <% end %>

<% else %>

    <p>You are currently out of <%= params[:category].gsub("_", " ") %>.</p>

  <% end %>

<p><a href="/users/show">Home</a></p>
