<style>

  body {
    background-image: url("/photos/fresh_wallpaper.jpg");
  }

</style>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fresh Kitchen</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  </head>
  <body>

    <% if logged_in? %>
    <header>
      <a href="/users/<%= current_user.slug %>" style="float:left;margin-left:10px;text-decoration:none;">Fresh Kitchen</a>
      <a href="/logout" style="float:right;text-decoration:none;margin-right:10px;">Sign Out</a>
    </header>
      <a href="users/<%current_user.username%>/foods/new" id="button">Add Item</a>
      <p style="float:right;font-size:14px;background:white;margin-top:0;">Currently logged in as: <%= current_user.username %></p>


      <div class="expired">

      <% if !current_user.expired_foods.empty? %>
          <% current_user.expired_foods.each do |food| %>

            <p>*** Your <%= food.name.downcase %> expired today and <%= food.first_pronoun %>
              removed from your inventory. Eat <%= food.second_pronoun %> quick or dump
              <%= food.second_pronoun %> in the trash! ***</p>

              <% food.delete %>

          <% end %>

      <% end %>

    </div>

    <% end %>


    <%= yield %>

  <script type="text/javascript">
    var urlmenu = document.getElementById( 'menu1' );
    urlmenu.onchange = function() {
    window.open( this.options[ this.selectedIndex ].value, "_self" );
    };
  </script>

  </body>
</html>
