<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      .warning p {
        color: red;
        text-align: center;
      }
    </style>

  </head>
  <body>

    <% if logged_in? %>
      <header style="width:100%;height:18px;background:lightgray">
        <a href="/users/<%= current_user.username %>">Home</a>
        <a href="/users/<%= current_user.username %>/foods/new" style="margin-left:5px;">Add Item</a>
        <a href="/logout" style="float:right;">Sign Out</a>
      </header>

      <div class="warning">

        <% expired = current_user.foods.select {|food| Date.today.strftime == food.expiration_date} %>

        <% if !expired.empty? %>

          <% expired.each do |food| %>

            <!-- conjugation helpers -->
              <% food.name[-1] == "s" ? first_pronoun = "were" : first_pronoun = "was" %>
              <% second_pronoun = "them" if food.name[-1] == "s" %>
              <% food.name[-1] == "s" ? possessive = "have" : possessive = "has" %>
            <!-- end of helpers -->

            <p>*** Your <%= food.name.downcase %> expired today and <%= first_pronoun %>
              removed from your inventory. Eat <%= second_pronoun %> quick or dump
              <%= second_pronoun %> in the trash! ***</p>
          <% end %>
          <% expired.each do |food| %>
            <% food.delete %>
          <% end %>
        <% end %>

        </div>

    <% end %>


    <%= yield %>

  </body>
</html>
