<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      .warning p {
        color: red;
        text-align: center;
      }
    </style>

  </head>
  <body>

    <% if logged_in? %>

      <header style="width:100%;height:18px;background:lightgray">
        <a href="/users/<%= current_user.username %>">Home</a>
        <a href="/users/<%= current_user.username %>/foods/new" style="margin-left:5px;">Add Item</a>
        <a href="/logout" style="float:right;">Sign Out</a>
      </header>

      <div class="warning">

      <% if !current_user.expired_foods.empty? %>

          <% current_user.expired_foods.each do |food| %>

            <p>*** Your <%= food.name.downcase %> expired today and <%= food.first_pronoun %>
              removed from your inventory. Eat <%= food.second_pronoun %> quick or dump
              <%= food.second_pronoun %> in the trash! ***</p>

              <% food.delete %>

          <% end %>

      <% end %>

        </div>

    <% end %>


    <%= yield %>

  </body>
</html>
