<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fresh Kitchen</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
  </head>
  <body>

    <% if logged_in? %>
      <div style="width:100%;background:white;height:100px;margin-bottom:0px;">
      <h1 style="font-size:100px;float:left;margin-bottom:0px;margin-top:0px;">Fresh Kitchen</h1>
      </div>
      <header>
        <a href="/users/<%= current_user.slug %>">Home</a>
        <a href="/users/<%= current_user.slug %>/foods/new" style="margin-left:5px;">Add Item</a>
        <a href="/logout" style="float:right;">Sign Out</a>
      </header>
      <p style="float:right;font-size:10px;margin-top:2px;background:white;">Currently logged in as: <%= current_user.username %></p>

      <div class="expired">

      <% if !current_user.expired_foods.empty? %>
          <% current_user.expired_foods.each do |food| %>

            <p>*** Your <%= food.name.downcase %> expired today and <%= food.first_pronoun %>
              removed from your inventory. Eat <%= food.second_pronoun %> quick or dump
              <%= food.second_pronoun %> in the trash! ***</p>

              <% food.delete %>

          <% end %>

      <% end %>

    </div>

    <% end %>


    <%= yield %>

  </body>
</html>
